@page
@model Organizainador.Pages.LoginModel
@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = "_LoginLayout";
}

<div class="card shadow-sm">
    <div class="card-body p-4">
        <h3 class="card-title text-center mb-3">Iniciar sesión</h3>

        <form id="loginForm" method="post" novalidate>

            @Html.AntiForgeryToken()

            <div id="errorDisplay" class="alert alert-danger d-none" role="alert"></div>

            <div class="mb-3">
                <label asp-for="Input!.Email" class="form-label">Correo Electrónico</label>
                <input id="Email" name="Email" asp-for="Input!.Email" class="form-control" />
                <span asp-validation-for="Input!.Email" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input!.Contrasena" class="form-label">Contraseña</label>
                <input id="Contrasena" name="Contrasena" asp-for="Input!.Contrasena" type="password" class="form-control" />
                <span asp-validation-for="Input!.Contrasena" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Ingresar</button>

        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/login.js"></script>
    <partial name="_ValidationScriptsPartial" />
}